@media only screen and (max-width: 767px) {
  #tabs {
    display: none;
  }
  .burger-menu-container {

    margin: 1em 0;
  }

}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  #tabs {
    display: none;
  }

  .burger-menu-container {
    margin: 1em 0;
  }

}

@media only screen and (min-width: 991px) and (max-width: 1399px){

  .burger-menu-container {
    display: none;
  }
}
@media only screen and (min-width: 1400px){

  .burger-menu-container {
    display: none;
  }
}
