/* Load the font */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font globally */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* default font size */
  font-display: swap;
}




