@media only screen and (max-width: 767px) {
  #emergency-container {
    margin: 1em;
  }
  #emergency-wrapper {
    padding: 1em;
    line-height: 2;
  }

  #emergency-title h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  #emergency-description p {
    text-align: center;
  }

  #type-of-patient-care-list {
    list-style: none;
    padding-left: 1.5em;
    line-height: 2;
  }
  #er-situations-list {
    list-style: none;
    padding-left: 1.5em;
  }

  #what-to-bring-er ul {
    list-style: none;
    padding-left: 1.5em;
  }
  #give-us-your-feedback p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #emergency-container {
    margin: 1.5em;
  }
  #emergency-wrapper {
    padding: 1.2em;
    line-height: 2;
  }

  #emergency-title h3 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
  }
  #emergency-description p {
    text-align: center;
  }

  #type-of-patient-care-list {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }
  #steps-in-the-emergency-process-list {
    padding-left: 4em;
    line-height: 2;
  }

  #er-situations-list {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }

  #what-to-bring-er ul {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }

  #give-us-your-feedback p {
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  #emergency-container {
    margin: 1.5em;
  }
  #emergency-wrapper {
    padding: 2em;
    line-height: 1.5;
    font-size: larger;
  }

  #emergency-title h3 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }
  #emergency-description p {
    text-align: center;
  }

  #type-of-patient-care-list {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }
  #steps-in-the-emergency-process-list {
    padding-left: 4em;
    line-height: 2;
  }

  #er-situations-list {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }

  #what-to-bring-er ul {
    list-style: none;
    padding-left: 4em;
    line-height: 2;
  }

  #give-us-your-feedback p {
    text-align: center;
  }
}
