@media (max-width: 767px) {
  #department-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  #search-bar-container #search-input {
    border: #d8d8d8 2px solid;
    padding: 0.3em 0.6em;
    border-radius: 20px;
    width: 50vw;
    font-size: 18px;
  }

  #search-bar-container #search-input:focus {
    outline: none;
    border: #142c2e65 2px solid;
  }

  #department-wrapper .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 20vw;
    border-radius: 20px;
    background-color: #ffffff !important;
    color: #142c2e !important;
    border-color: #142c2e !important;
  }

  #department-wrapper .btn:hover {
    background-color: #142c2e !important;
    color: #ffffff !important; /* Optional: Change text color on hover */
  }

  #doctor-card-wrapper {
    margin: 0.5em 2em;
  }
  #doctor-card-wrapper #chip {
    background-color: #163235;
    color: #ffffff;
    font-size: 1rem;
    padding: 1.2em;
  }

  #doctor-card-wrapper .doctor-card {
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #department-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
  }

  #department-wrapper .btn {
    padding: 0.4em 1em;
    width: auto;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff !important;
    color: #142c2e !important;
    border-color: #142c2e !important;
  }

  #department-wrapper .btn:hover {
    background-color: #142c2e !important;
    color: #ffffff !important; /* Optional: Change text color on hover */
  }

  #department-wrapper .btn.active {
    background-color: #142c2e !important;
    color: #ffffff !important;
  }

  #department-wrapper #department-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 1%;
  }

  #doctor-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em 0;
  }

  #doctor-cards .doctor-card {
    width: 37vw;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }
  #doctor-card-wrapper #chip {
    background-color: #163235;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1.2em;
  }
}
@media (min-width: 992px) {
  #department-wrapper {
    margin: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  #search-bar-container #search-input {
    border: #d8d8d8 2px solid;
    padding: 0.4em 1em;
    border-radius: 20px;
    width: 20vw;
    font-size: 15px;
  }

  #search-bar-container #search-input:focus {
    outline: none;
    border: #142c2e65 2px solid;
  }

  #department-wrapper .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  #department-wrapper .btn {
    background-color: #ffffff !important;
    color: #142c2e !important;
    border-color: #142c2e !important;
    border-radius: 20px;
  }

  #department-wrapper .btn:hover {
    background-color: #142c2e !important;
    color: #ffffff !important; /* Optional: Change text color on hover */
  }

  #department-wrapper .btn.active {
    background-color: #142c2e !important;
    color: #ffffff !important;
  }

  #doctor-wrapper h3 {
    text-align: center;
    margin: 1em 0;
  }
  #doctor-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  #doctor-card-wrapper #chip {
    background-color: #163235;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1.2em;
  }

  #doctor-card-wrapper #doctor-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  #doctor-card-wrapper #doctor-cards .doctor-card {
    padding: 15px;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
    min-width: 40%;
  }

  #doctor-card-wrapper {
    margin: 1em 2em;
  }
}
