@media (max-width: 640px){
  .footer{
    background-color: #142c2e;
    color: white;
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 992px){
.footer {
  background-color: #142c2e;
  color: white;
  padding: 20px;
  text-align: center;
  
}
}