/* Extra small devices (phones) */
#symbol {
  padding-top: 10px;
  width: 85%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
 .home-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-column: 1 / 7;
  }
  .seventh-grid {
    grid-column: 7 / 8;
    width: 100%;
    height: 100%;
    background-color: #007682;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    z-index: 2;
  }
  #seventh-grid-body {
    display: flex;
    justify-content: center;
    background-color: #007682;
    width: 100%;
    position: relative;
  }

  /* #symbol {
    padding-top: 10px;
    width: 90%;
    height: 99%;
  } */

  .home-content .main {
    flex: 1;
  }
}


/* Medium devices (tablets)  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-column: 1 / 7;
  }
  .seventh-grid {
    grid-column: 7 / 8;
    width: 100%;
    height: 100%;
    background-color: #007682;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    z-index: 2;
  }
  #seventh-grid-body {
    display: flex;
    justify-content: center;
    background-color: #007682;
    width: 100%;
    position: relative;
  }

  /* #symbol {
    padding-top: 10px;
    width: 90%;
    height: 99%;
  
  } */

  .home-content .main {
    flex: 1;
  }
  
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-column: 1 / 7;
  }
  .seventh-grid {
    grid-column: 7 / 8;
    width: 100%;
    height: 100%;
    background-color: #007682;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: 10px; */
    z-index: 2;
  }
  #seventh-grid-body {
    display: flex;
    justify-content: center;
    background-color: #007682;
    width: 100%;
    position: relative;
  }

  /* #symbol {
    padding-top: 10px;
    width: 85%;
    height: 16vh;
  } */

  .home-content .main {
    flex: 1;
  }
}

/* Extra large devices (large desktops, 4K)  */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .home-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-column: 1 / 7;
  }
  .seventh-grid {
    grid-column: 7 / 8;
    width: 100%;
    height: 100%;
    background-color: #007682;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: 10px; */
    z-index: 2;
  }
  #seventh-grid-body {
    display: flex;
    justify-content: center;
    background-color: #007682;
    width: 100%;
    position: relative;
  }

  /* #symbol {
    padding-top: 10px;
    width: 90%;
    height: 95%;
  } */

  .home-content .main {
    flex: 1;
  }
}

@media only screen and (min-width: 1400px) {
  .home-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-column: 1 / 7;
  }
  .seventh-grid {
    grid-column: 7 / 8;
    width: 100%;
    height: 100%;
    background-color: #007682;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: 10px; */
    z-index: 2;
  }
  #seventh-grid-body {
    display: flex;
    justify-content: center;
    background-color: #007682;
    width: 100%;
    position: relative;
  }

  /* #symbol {
    padding-top: 10px;
    width: auto;
    height: 20vh;
  } */

  .home-content .main {
    flex: 1;
  }
}
