/*for mobile view*/
@media (max-width: 767px) {
  .information-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .information-subContent-title h2,
  .information-subContent p,
  #information-values h2 {
    text-align: center;
  }

  #information-mission {
    border-bottom: #007682 2px solid;
    margin-bottom: 1.5em;
  }

  #information-mission h2 {
    font-size: clamp(1.1rem, 1.3rem, 2rem);
    color: #007682;
  }

  #information-mission-content {
    color: #142c2e;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  #information-mission-content .mission {
    padding: 1em;
  }

  #information-values h2 {
    font-size: clamp(1.2rem, 1.3rem, 2rem);
    border-radius: 12px;
    padding: 1em;
    color: white;
    background-color: #007682;
  }
  #information-values-content #values-row .col {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #information-values-content #values-row .value {
    font-size: 26px;
    border: 1px solid black;
    border-radius: 12px;
    width: 50vw;
    height: auto;
    text-align: center;
  }
  #information-values-content #values-row .values-img {
    margin-top: 0.5em;
    width: 40vw;
    height: auto;
  }

  #information-values-content #values-row .col .value p {
    font-size: 1.3rem;
  }

  #information-services {
    text-align: center;
    margin-bottom: 1.5em;
    color: #007682;
    border-bottom: 3px solid #007682;
  }

  #information-services h2 {
    font-size: clamp(1.2rem, 1.3rem, 2rem);
  }

  #information-services-content #services-row {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #information-services-content #services-row .service {
    padding: 1em;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    text-align: center;
  }
  .services-button {
    border-radius: 20px;
    padding: 0.5em 1em;
  }
  #information-wrapper-4 {
    display: flex;
    flex-direction: column-reverse;
  }

  #information-achievements h2 {
    border-bottom: #007682 2px solid;
    padding: 0.5em;
    font-size: clamp(1.2rem, 1.3rem, 2rem);
  }

  #information-achievements-content .card {
    margin: 2.5em 0;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }
  #information-achievements-content .card .card-body .card-title {
    font-size: 1.5em;
    text-align: center;
  }

  #information-achievements-content .card .card-body .card-text img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    padding: 0.5em;
  }

  #information-wrapper-5 {
    border-radius: 12px;
    padding: 1em;
    color: white;
    background-color: #007682;
  }

  #information-news {
    border-bottom: 3px solid #ffa92d;
    margin-bottom: 1em;
  }

  .president-message #message-heading {
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 12px;
    padding: 1em;
    color: #007682;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  .president-message blockquote#message {
    text-align: justify;
    border-left: #ffa92d 3px solid;
    padding: 0.5em;
  }

  .president-signature {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .president-signature #president-profile-wrapper {
    width: 50%;
  }

  .president-signature img.signature {
    width: 100%;
    height: 100%;
    margin: 1em 0;
  }

  .president-signature .president-info p {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  .president-signature .president-info p.president-name {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
  }
  .president-signature .president-info p.president-position {
    font-style: italic;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .information-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  #information-wrapper-1 {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  

  }
  #information-wrapper-1 #information-mission {
    align-content: center;
    border-right: 3px solid #007682;
    height: 90%;
    width: 50%;
    margin-right: 2em;    
  }
  #information-wrapper-1 #information-mission h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #007682;
  }
  #information-wrapper-1 #information-mission-content {
    width: 50%;
  }
  #information-wrapper-1 #information-mission-content .mission {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }

  #information-values {
    text-align: center;
    color: #142c2e;
    background-color:#007682;
    padding: 0.4rem 0;

  }
  #information-values h2 {
    font-size: 2.5em;
    color: #ffffff;
  }

  #information-values-content {
    display: flex;
    justify-content: center;
  }

  #information-values-content #values-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #information-values-content #values-row .col .value {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 1em 0;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  #information-services {
    text-align: center;
    border-radius: 12px;
    padding: 1em;
    color: white;
    background-color: #007682;
  }
  #information-services h2 {
    font-size: 2.5em;
  }

  #information-services-content {
    display: flex;
    justify-content: center;
  }

  #information-services-content #services-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 1em;
  }
  #information-services-content #services-row .col {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  #information-services-content #services-row .col .service {
    width: 260px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  .services-button {
    border-radius: 20px;
    padding: 0.5em 1em;
  }

  #information-wrapper-4 {
    display: flex;
    flex-direction: column-reverse;
  }

  #information-achievements {
    margin-bottom: 2em;
    text-align: center;
    border-bottom: 3px solid #007682;
  }
  #information-achievements h2 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
    color: #007682;
  }

  #information-achievements-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #information-achievements-content .card {
    width: 260px;
    height: auto;
    margin: 1em;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  #information-achievements-content .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }

  #information-achievements-content .card .card-body .card-title {
    font-size: 1.5em;
    text-align: center;
  }

  #information-achievements-content .card .card-body .card-text img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    padding: 0.5em;
  }

  #information-wrapper-5 {
    text-align: center;
    border-radius: 12px;
    padding: 1em;
    color: white;
    background-color: #007682;
  }

  #information-news {
    margin-bottom: 1.5em;
    text-align: center;
    border-bottom: 3px solid #ffa92d;
  }
  #information-news h2 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
  #information-news-content p.news {
    font-size: 24px;
  }

  .president-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .president-message #message-heading {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 12px;
    padding: 0.5em;
    color: #007682;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }
  .president-signature {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .president-signature #president-profile-wrapper {
    width: 20%;
  }

  .president-signature img.signature {
    width: 100%;
    height: auto;
  }

  .president-signature .president-info p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  .president-signature .president-info p.president-name {
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
  }
  .president-signature .president-info p.president-position {
    font-style: italic;
    font-size: 14px;
  }
}

/*For Desktop view*/
@media (min-width: 1025px) and (max-width: 1199px) {
  .information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }

  #information-wrapper-1 {
    margin-top: 1em;
    width: 100%;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-1 #information-mission {
    align-content: center;
    height: inherit;
    width: 25vw;
    margin-right: 0.5em;
    border-left: 3px solid #007682;
  }

  #information-wrapper-1 #information-mission h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #142c2e;
  }
  #information-wrapper-1 #information-mission-content {
    border-radius: 0px 18px 20px 0px;

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007682;
    box-shadow: -5px 8px 5px -1px rgba(0, 0, 0, 0.75);
  }
  #information-wrapper-1 #information-mission-content .mission {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 70%;
  }

  #information-wrapper-2 {
    width: inherit;
    margin: 3em 0;
    margin-bottom: 4em;
    text-align: center;
  }

  #information-values {
    background-color: #007682;
    width: 60vw;
    text-align: center;
    border-radius: 12px;
    color: white;
    margin: 4em 0 2em 0;
    padding: 1em 0;
  }

  #information-values-content #values-row .col {
    border: #ffa92d;
    border-radius: 25px;
    margin: 0 2em;
    padding: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  #information-values-content #values-row .col .value img {
    width: 100%;
    height: auto;
    padding: 0.5em;
  }

  #information-values-content #values-row .col .value p {
    font-size: 20px;
    text-align: center;
  }

  #information-wrapper-3 {
    background-color: #007682;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-3 #information-services {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 3px solid #ffa92d;
    padding: 0 3em;
  }
  #information-wrapper-3 #information-services h2 {
    font-size: 2.5em;
    color: white;
  }

  #information-services-content {
    margin-left: 3em;
    width: 100%;
  }
  #information-services-content #services-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #information-services-content #services-row .col {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: end;
    margin: 1em 0;
    width: 22%;
    margin-left: 1em;
    color: white;
    box-shadow: 0px 10px 1px -3px rgba(0, 0, 0, 0.1);
  }

  #information-services-content #services-row .col:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 26px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .services-button {
    border-radius: 20px;
    padding: 0.5em 1em;
  }

  #information-wrapper-4 {
    padding: 2em;
    border-right: #ffa92d 3px solid;

    height: 50vh;
    width: inherit;
    margin: 3em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #information-achievements {
    border-radius: 15px;
    color: #142c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
    padding: 3em;
    margin-left: 2em;
    height: 80%;
  }

  #information-wrapper-5 {
    width: inherit;
    margin: 3em 0;
    text-align: center;
    margin-bottom: 4em;
    background-color: #007682;
    border-radius: 18px;
  }
  #information-news {
    padding: 1em 0;
    margin: 0 2em 1em 2em;
    color: #ffa92d;
    width: inherit;
    border-bottom: 3px solid #ffa92d;
  }

  #information-wrapper-5 #information-news-content p.news {
    padding: 1.5em;
    width: inherit;
    color: white;
    font-size: 20px;
  }
  .president-message {
    padding: 2em;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .president-signature {
    background-color: #ffa92d;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 12px;
  }

  .president-message #president-profile-wrapper img.signature {
    width: 100%;
    height: 100%;
  }

  .president-signature .president-info p {
    margin-bottom: 0;
    font-size: 16em;
    line-height: 1.5;
  }
  .president-signature .president-info p.president-name {
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
  }
  .president-signature .president-info p.president-position {
    font-style: italic;
    font-size: 14px;
  }

  .president-message-content {
    padding: 2em;
    text-align: justify;
  }
  .president-message #message-heading {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 12px;
    padding: 0.5em;
    color: #ffa92d;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  .president-message blockquote#message {
    font-style: italic;
    border-left: 4px solid #ffa92d;
    padding-left: 1em;
    color: #555;
  }
}

@media (min-width: 1025px) and (max-width: 1399px) {
  .information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
  }

  #information-wrapper-1 {
    margin-top: 1em;
    width: 100%;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-1 #information-mission {
    align-content: center;
    height: inherit;
    width: 25vw;
    margin-right: 0.5em;
    border-left: 3px solid #007682;
  }

  #information-wrapper-1 #information-mission h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #142c2e;
  }
  #information-wrapper-1 #information-mission-content {
    border-radius: 0px 18px 20px 0px;

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007682;
    box-shadow: -5px 8px 5px -1px rgba(0, 0, 0, 0.75);
  }
  #information-wrapper-1 #information-mission-content .mission {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 70%;
  }

  #information-wrapper-2 {
    width: inherit;
    text-align: center;
    margin: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #information-values {
    background-color: #007682;
    width: 60vw;
    text-align: center;
    border-radius: 12px;
    color: white;
    margin-bottom: 2em;
    padding: 1em 0;
  }

  #information-values-content #values-row .col {
    border: #ffa92d;
    border-radius: 25px;
    margin: 0 2em;
    padding: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  #information-values-content #values-row .col .value img {
    width: 100%;
    height: auto;
    padding: 0.5em;
  }

  #information-values-content #values-row .col .value p {
    font-size: 20px;
    text-align: center;
  }

  #information-wrapper-3 {
    background-color: #007682;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-3 #information-services {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 3px solid #ffa92d;
    padding: 0 3em;
  }
  #information-wrapper-3 #information-services h2 {
    font-size: 2em;
    color: white;
  }

  #information-services-content {
    margin-left: 3em;
    width: 100%;
  }
  #information-services-content #services-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #information-services-content #services-row .col {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: end;
    margin: 1em 0;
    width: 22%;
    margin-left: 1em;
    color: white;
    box-shadow: 0px 10px 1px -3px rgba(0, 0, 0, 0.1);
  }

  #information-services-content #services-row .col:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 26px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .services-button {
    border-radius: 20px;
    padding: 0.5em 1em;
  }

  #information-wrapper-4 {
    margin: 0 2em;
    height: 40vh;
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #information-achievements {
    border-right: #ffa92d 3px solid;
    padding: 0 1em;
    color: #142c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-left: 2em;
  }

  #information-wrapper-5 {
    width: inherit;
    text-align: center;
    background-color: #007682;
    border-radius: 18px;
  }
  #information-news {
    padding: 1em 0;
    margin: 0 2em 1em 2em;
    color: #ffa92d;
    width: inherit;
    border-bottom: 3px solid #ffa92d;
  }

  #information-wrapper-5 #information-news-content p.news {
    padding: 1.5em;
    width: inherit;
    color: white;
    font-size: 20px;
  }
  .president-message {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .president-signature {
    background-color: #ffa92d;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 12px;
  }

  .president-message #president-profile-wrapper img.signature {
    width: 100%;
    height: 100%;
  }

  .president-signature .president-info p {
    margin-bottom: 0;
    font-size: 16em;
    line-height: 1.5;
  }
  .president-signature .president-info p.president-name {
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline;
  }
  .president-signature .president-info p.president-position {
    font-style: italic;
    font-size: 0.875em;
  }

  .president-message-content {
    padding: 2em;
    text-align: justify;
  }
  .president-message #message-heading {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 12px;
    padding: 0.5em;
    color: #ffa92d;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  .president-message blockquote#message {
    font-style: italic;
    border-left: 4px solid #ffa92d;
    padding-left: 1em;
    color: #555;
  }
}

@media (min-width: 1400px) {
  .information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }

  #information-wrapper-1 {
    margin-top: 1em;
    width: 65vw;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-1 #information-mission {
    align-content: center;
    height: inherit;
    width: 25vw;
    margin-right: 0.5em;
    border-left: 3px solid #007682;
  }

  #information-wrapper-1 #information-mission h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #142c2e;
  }
  #information-wrapper-1 #information-mission-content {
    border-radius: 0px 18px 20px 0px;

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007682;
    box-shadow: -5px 8px 5px -1px rgba(0, 0, 0, 0.75);
  }
  #information-wrapper-1 #information-mission-content .mission {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 70%;
  }

  #information-wrapper-2 {
    width: 65vw;
    text-align: center;
    margin: 2em 0;
    justify-content: center;
  }

  #information-values {
    background-color: #007682;
    width: 65vw;
    text-align: center;
    border-radius: 12px;
    color: white;
    margin-bottom: 2em;
    padding: 1em 0;
  }

  #information-values-content #values-row .col {
    border: #ffa92d;
    border-radius: 25px;
    margin: 0 2em;
    padding: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  #information-values-content #values-row .col .value img {
    width: 100%;
    height: auto;
    padding: 0.5em;
  }

  #information-values-content #values-row .col .value p {
    font-size: 20px;
    text-align: center;
  }

  #information-wrapper-3 {
    background-color: #007682;
    align-self: stretch;
    justify-items: center;
    
  }

  #information-wrapper-3-container {
    width: 65vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #information-wrapper-3 #information-services {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 3px solid #ffa92d;
    padding: 0 3em;
  }
  #information-wrapper-3 #information-services h2 {
    font-size: 2.5em;
    color: white;
  }

  #information-services-content {
    margin-left: 3em;
    width: 100%;
  }
  #information-services-content #services-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #information-services-content #services-row .col {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: end;
    margin: 1em 0;
    width: 22%;
    margin-left: 1em;
    color: white;
    box-shadow: 0px 10px 1px -3px rgba(0, 0, 0, 0.1);
  }

  #information-services-content #services-row .col:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 26px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .services-button {
    border-radius: 20px;
    padding: 0.5em 1em;
  }

  #information-wrapper-4 {
    height: 40vh;
    width: 65vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #information-achievements {
    border-right: #ffa92d 3px solid;
    padding: 0 1em;
    color: #142c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0 2em;
  }

  #information-wrapper-5 {
    width: 65vw;
    text-align: center;
    background-color: #007682;
    border-radius: 18px;
  }
  #information-news {
    padding: 1em 0;
    margin: 0 2em 1em 2em;
    color: #ffa92d;
    width: auto;
    border-bottom: 3px solid #ffa92d;
  }

  #information-wrapper-5 #information-news-content p.news {
    padding: 1.5em;
    width: inherit;
    color: white;
    font-size: 20px;
  }
  .president-message {
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .president-signature {
    background-color: #ffa92d;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 12px;
  }

  .president-message #president-profile-wrapper img.signature {
    width: 100%;
    height: 100%;
  }

  .president-signature .president-info p {
    margin-bottom: 0;
    font-size: 16em;
    line-height: 1.5;
  }
  .president-signature .president-info p.president-name {
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
  }
  .president-signature .president-info p.president-position {
    font-style: italic;
    font-size: 14px;
  }

  .president-message-content {
    padding: 2em;
    text-align: justify;
  }
  .president-message #message-heading {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
    border-radius: 12px;
    padding: 0.5em;
    color: #ffa92d;
    box-shadow: 0px 13px 11px 4px rgba(0, 0, 0, 0.1);
  }

  .president-message blockquote#message {
    font-style: italic;
    border-left: 4px solid #ffa92d;
    padding-left: 1em;
    color: #555;
  }
}
