/* #thumbnail-images {
  width: 20vw;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
} */

/* #news-and-update-card-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 24px;
} */

#label-filter{
  margin-right: 1rem;
}
#news-and-update-card-details{
  width: 100%;
}
#news-and-update-card-details #news-and-update-card-title {
  font-size: 1.5rem;
  margin: 0;
  color: #FFA92D;
  border-bottom: #FFA92D 2px solid;
  width: 100%;
  margin-bottom: 0.5rem;
}


/*for mobile design*/
@media (max-width: 767px) {
  #date-filter-sections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
  }
  #filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #add-news-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem;
    padding-bottom: 1rem;
  }

  #add-news-button {
    border-radius: 3rem;
    background-color: transparent;
    border: 1px solid #163235;
    padding: 0.1rem 1rem;
    color: #163235;
  }

  #news-and-update-cards-container {
    padding: 1.5rem 0;
  }
  .news-and-update-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
  }
  #news-and-update-card-wrapper {
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  #news-and-update-card-details {
    gap: 0.5rem;
  }

  #news-and-update-card-details a {
    text-decoration: none;
    border: 1px solid #FFA92D;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    color: #FFA92D;
  }

  #thumbnail-images {
    width: 65vw;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}

/*for tablet views*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* Ruless for the filtering button section.  */
  #date-filter-sections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 2.5rem;
  }

  #filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #add-news-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0 2.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
    #add-news-button {
    border-radius: 3rem;
    background-color: transparent;
    border: 1px solid #163235;
    padding: 0.3rem 1rem;
    color: #163235;
  }

  .choose-type-buttons {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  .add-article-modal-buttons{
    display: flex;
    gap: 1rem;
  }
  /* ruless for the news and update cards */
  #news-and-update-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
  }

  #news-and-update-card-details {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height:40%;
  }
  #news-and-update-card-details a {
    text-decoration: none;
    border: 1px solid #FFA92D;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    color: #FFA92D;
  }
  #news-and-update-card-wrapper{
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  #thumbnail-wrapper{
    max-width: 100%;
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #thumbnail-images {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .admin-buttons-wrapper{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #no-content-news-update {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/*for desktop views*/
@media (min-width: 1025px) and (max-width: 1399px) {
/*Rules for the filter option section*/
  #date-filter-sections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 2.5rem;
  }

  #filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #add-news-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0 2.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
    #add-news-button {
    border-radius: 3rem;
    background-color: transparent;
    border: 1px solid #163235;
    padding: 0.3rem 1rem;
    color: #163235;
  }
/* Rules for news and update cards  */
  #news-and-update-cards-container{
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem 4rem;
  }

  #news-and-update-card{
    max-height: 100%;
  }
  #news-and-update-card-wrapper{
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #news-and-update-card-details #news-and-update-card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #news-and-update-card-details{
    /* border-left: #ffa72d93 0.15rem solid; */
    padding-left: 0.9rem;
  }

  #news-and-update-card-details a {
    text-decoration: none;
    border: 1px solid #FFA92D;
    padding: 0.3rem 0.8rem;
    border-radius: 3rem;
    color: #FFA92D;
  }
  #news-and-update-card-details a:hover{
    background-color: #FFA92D;
    border: 1px solid #FFA92D;
    color: black;
  }

  #thumbnail-wrapper{
    max-width: 30%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #thumbnail-images{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .admin-buttons-wrapper{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.7rem;

  }
}

@media only screen and (min-width: 1400px){
    /*Rules for the filter option section*/
  #date-filter-sections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 2.5rem;
  }

  #filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #add-news-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0 2.5rem;
    padding-bottom: 1rem;
  }
    #add-news-button {
    border-radius: 3rem;
    background-color: transparent;
    border: 1px solid #163235;
    padding: 0.3rem 1rem;
    color: #163235;
  }
/* Rules for news and update cards  */
  #news-and-update-cards-container{
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem 4rem;
  }
  #news-and-update-card-wrapper{
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #news-and-update-card-details{
    /* border-left: #ffa72d93 0.15rem solid; */
    padding-left: 0.9rem;
  }


  #news-and-update-card-details #news-and-update-card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #news-and-update-card-details #news-and-update-card-title .admin-buttons-wrapper{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.7rem;

  }
  #news-and-update-card-details a {
    text-decoration: none;
    border: 1px solid #FFA92D;
    padding: 0.3rem 0.8rem;
    border-radius: 3rem;
    color: #FFA92D;
  }
  #news-and-update-card-details a:hover{
    background-color: #FFA92D;
    border: 1px solid #FFA92D;
    color: black;
  }

  #thumbnail-wrapper{
    max-width: 25%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #thumbnail-images{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
} 
