.profile-container{
    margin: 2rem;
    padding: 2rem; 
}
.profile-page{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    gap: 1.5rem;
}



.user-profile-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-message{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.profile-info{
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

@media only screen and (max-width: 767px){
    .profile-container{
        margin: 1rem;
        padding: 1rem; 
    }
    .profile-page{
        display: grid;
        grid-template-columns: 20% 1fr
    }

    .welcome-message{
        font-size: 1.33rem;
    }
}